*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Roboto',sans-serif;
}

body{
    background:#ffffff;
}

/* Main Container */

.container{

    width:900px;

    margin:40px auto;

    display:flex;

    flex-direction:column;
}

/* Back Arrow */

.back-btn{

    text-decoration:none;

    color:#606770;

    font-size:28px;

    margin-bottom:25px;

    width:35px;
}

/* Heading */

h1{

    font-size:34px;

    font-weight:700;

    color:#1c1e21;

    margin-bottom:10px;
}

/* Paragraph */

p{

    font-size:24px;

    color:#1c1e21;

    margin-bottom:25px;
}

/* Input */

input{

    width:100%;

    height:85px;

    border:1px solid #ccd0d5;

    border-radius:22px;

    padding:0 24px;

    font-size:22px;

    outline:none;

    color:#1c1e21;

    margin-bottom:45px;
}

input::placeholder{

    color:#6b7280;
}

input:focus{

    border:2px solid #1877f2;
}

/* Button */

button{

    width:100%;

    height:66px;

    border:none;

    border-radius:35px;

    background:#1666d8;

    color:white;

    font-size:20px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;
}

button:hover{

    background:#1559ba;
}


h1{

    font-size:30px;
}

p{

    font-size:20px;
}

input{

    height:70px;

    font-size:18px;
}
}